.h-100vh {
	height: 100vh;
}

.clickable:hover {
	cursor: pointer;
}

.profile-picture {
	transition: height width;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.closed-sidebar .profile-picture {
	height: 50px !important;
	width: 50px !important;
}

.closed-sidebar .scrollbar-sidebar:hover .profile-picture {
	height: 100px !important;
	width: 100px !important;
}

.login-container {
	background-color: #fff !important;
	padding: 50px 20px;
	width: 100%;
	max-width: 1000px;
}

.padding-lg-50px {
	padding: initial;
}

@media screen and (min-width: 576px) {
	.padding-lg-50px {
		padding: 50px;
	}
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}
